body{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons {
    display: flex;
    gap: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}